// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://lh3.googleusercontent.com/zXfMIrvnDMQbZPc6OWvS1WpburgwpFReBgldEYrcX2Fi9ttdMU-7K2DBh13DYItVpb07kxgXhFXTx1_KTgL-VR8RAajuZjKPiWitBhdToG90vJFR47tltQATDdLRYrJZ6ug9pXGY3RIAbBcHisP0_nfyLUyh8N9gNY1zHYSokaZfonyasulWm8kW3MgAxFCCEf4zR8OBoDrSpRLYGw0AySSlmn4IiC71SIE7rxmnOfO2s4-FnaHE08chLk2ix-qbWqxzYOx2fzWkg6i7UugSdZ2JoC28NGjg415fM7NMoa9KITVufcwaAfz3QYa_WK-lS7zh56JkmpsfaKspNQ754APtV2V11UfbpS_zhE3e2bQLn_HfFZKenthmc9LVVz12J8TipVlgfhR3JSng9zDp2cBSuP_zPGtFY-eyc9XgFPFyaBbFTw8X-U36oSXxgrizc2N4jcErWSzGQ7XmcqWANulFMwl4cSmNrMumivVT9QuWWMpN0F7tgfNkesspdiWClKbA4FL77Yxz5CcMEqWbDvSlqqqbFd2Ns_QYuphpbRbRHqLMoQ-6ooAh44wRDO3P7G9HugP7rmV_lpypmRIxrVMZ0RuE_XrurtE8hWYd6w=w1280-h720-no'),
	            linear-gradient(#75da8f, #77cae9);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
