// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://static.pexels.com/photos/261909/pexels-photo-261909.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
