// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://lh3.googleusercontent.com/4qyClaYZGl0f38BV8CUkivk4o1aeCSuxImWWUfuy_03pMIIuoMLiPy8CJivc8-dHbW3tGxR_JXFrmhlLsIPy_bCm1l6qpMhzdtKBJZ9Wc00iUYz84t8vNLP3cWlsSl9HuA26aSy4UD7Vc6-FdSJMyTuRpVs50Kuhmu6Wlb-H6f6Q-0ESv0oSquuCK_ipbjTiTY39V2OKBhMMXPcajjmE2nRofKMkafXLNf5HC6U4FAEPUavSrDrM8Icko32O5b_K8bFcKBUozkrfAa0SlGb5UnC79Op1GPvfVHGuPLVUZUQN1nk9IaLJ5xjUGevXK74MUYzHtkW6r7_5BSszhFM2OwD0IJlSy3mIIG-twe5_99VH83Jy36e3nt9vLdH8evvdkiYyjsZ32QMY0CJI1Nzt9Jfh6sm7xededonwLQU6-u-fqyGKJsJo7WiGlu4oW2_4F9mKJeURXb0EdKrRASKVGZHfmJaN1PjZAlXz1X6kx_ZGFzWBuMvbI0U8RRTbSzjhr_0eTMbH3LyyKxhDPWhz07pB4tUsiUmzCyndT-ivpQQn0YInLB3c21PO10k3FUvAvZ4sYCaTEbdBLK2owKGIMUVn8hy9SLrkgZazBfLqFA=w768-h1024-no'),
	            linear-gradient(#75da8f, #77cae9);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
